#blog_section {
    background-color: #F5F9FF;

}

.blog_container {
    width: 80%;
    margin: 0 auto;
    margin-top: 15rem;
}

.blog_container .blog_title h1 {
    font-size: 2.3rem;
    color: #152B55;
}

.blog_quicklinks {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 3rem;
    flex-wrap: wrap;

}

.blog_items {

    width: 15.625rem;
    height: 3.125rem;
    background-color: #fff;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    box-shadow: 5px 2px 0.625rem 2px lightgray;
    transition: .3s ease;
    cursor: pointer;
}
.blog_items a{
    color: #1CBDDE;
}
.blog_items:hover{
    box-shadow: 7px 5px 0.9375rem 5px lightgray;
}


.blog_container .blog_cards {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 3.125rem;
    flex-wrap: wrap;

}

.blog_cards .card_items {
    width: 21.875rem;
    height: 28.125rem;
    box-shadow: 5px 2px 0.625rem 2px lightgray;
    border-radius: 1.25rem;
    color: gray;
    transition: .3s ease;
}

.card_items .card_img img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .3s ease;
}

.card_des {
    padding: 1rem;
}

.card_des .card_title {
    width: 9.375rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #152B55;
    color: white;
    border-radius: 1.25rem;

}

.card_des .card_info {
    margin-top: 2rem;
}
.card_des .card_btn .btn{
    width: 20rem;
    height: 2.5rem;
    border: none;
    margin-top: 2rem;
    background-color:#1CBDDE ;
    color: white;
    font-weight: bold;
    border-radius: 0.625rem;
    transition: .3s ease;

}
.card_items .card_img:hover img{
    transform: scale(1.012);

}
.card_items:hover{
    box-shadow: 0.625rem 5px 0.9375rem 5px lightgray;
}
