#comments{
    margin-top: 10rem;
  
}

.comments_container .title{
    text-align: center;
    margin-bottom: 10rem;
    color: #152B55;
    font-size: 2.3rem;
    letter-spacing: 1.2px;
}

 .comments_container{
    width: min(1200px, 90vw);
    margin: auto;
}
.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
                to right,
                transparent,
                #f6f5f5 10% 90%,
                transparent
            );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
    background-color: #fff;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    /* background: white; */
    border-radius: 10px;
    border: .1px solid lightgray;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    animation: autoRun 25s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (25s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.list .item .info .rate {
    margin-bottom: 2rem;
}
.list .item .info .quotes i{
font-size: 2.4rem;
color: #152B55;
}
.item .info .des{
    width: 100%;
}
.item .info .des .rate i{
    color: gold;
}
.item .info .account{
    display: flex;
    align-items: center;
    gap: 50px;

}
.account {
    display: flex;
    align-items: center;
    gap: 40px;
}
.account .account_img{
    width: 80px;
    height: 80px;
    border-radius: 50%;

}
.account .account_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}


@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(0);
}
.slider .item:hover{
    filter: grayscale(0);
}

