body{
  background-color: #F5F9FF;
}

:root {
  /* Основные цвета */
  --primary-color: #1CBDDE;
  --secondary-color: #152B55;
  --text-color: #152B55;
  --background-color: #ffffff;
    --bg-hover-color: #00426B;
  /* Дополнительные акценты */
  --accent-color: #1CBDDE;
  --hover-color: #128ea8;
  --shadow-color: rgba(0, 0, 0, 0.2);

  /* Светлые/тёмные варианты */
  --light-bg: #f9f9f9;
  --dark-bg: #0f1e3a;
  --border-color: #e0e0e0;
  
}


.user-dash__container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10rem;
}

.welcome-page{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.welcome-title{
  font-size: 32px;
  color: var(--secondary-color);
}

.welcome-desc{
  color: #797979;
}

.welcome-page__img img{
  width: 90px;
  height: 90px;
  border-radius: 50%;

}


.dash-categories{
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.dash-category{
  background-color: var(--background-color);
  padding: 5px 10px;
  flex: 1 1 70px;
  text-align: center;
  border: 2px solid #1CBDDE;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.641)
}

.category-title{
  font-weight: 500;
  color: var(--secondary-color);
}


.user-info{
  padding-top: 100px;
}




.user-info__container{
  display:flex;
  flex-wrap: wrap;
  gap: 30px;

}

label{
  width: 100%;
  display: inline-block;
}

input{
  margin-bottom: 10px;
  height: 30px;
  width: 100%;
  outline: none;
  border: 0.5px solid rgba(43, 42, 42, 0.368);
  border-radius: 8px;
  
}

.save{
  padding: 5px 10px;
  background-color: #1CBDDE;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
}
.personal-info{
  background-color: var(--background-color);
  flex: 1 1 300px;
  padding: 50px;
  border-radius: 30px;
}

.personal-info h2{
  color: var(--secondary-color);
  font-size: 20px;
}

.personal-info__form{ 
  margin-top: 20px;
}



.quick-stats{
  background-color: var(--background-color);
  flex: 1 1 300px;
  padding: 50px;
  border-radius: 20px;
}

.health-info{
  display: flex;
  margin-top: 20px;
  text-align: center;
}



.health-info__icon i{
  font-size: 22px;
  align-items: center;
  margin-right: 6px;
}
.desc-title{
  color: #797979;
}

.quick-stats h2{
  color: var(--secondary-color);
  font-size: 20px;
}

