body{
  background-color: #F5F9FF;
}

:root {
  /* Основные цвета */
  --primary-color: #1CBDDE;
  --secondary-color: #152B55;
  --text-color: #152B55;
  --background-color: #ffffff;
    --bg-hover-color: #00426B;
  /* Дополнительные акценты */
  --accent-color: #1CBDDE;
  --hover-color: #128ea8;
  --shadow-color: rgba(0, 0, 0, 0.2);

  /* Светлые/тёмные варианты */
  --light-bg: #f9f9f9;
  --dark-bg: #0f1e3a;
  --border-color: #e0e0e0;
  
}


.title{
  color: var(--secondary-color);
  font-size: 20px;
}

.user-dash__container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10rem;
}

.welcome-page{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.welcome-title{
  font-size: 32px;
  color: var(--secondary-color);
}

.welcome-desc{
  color: #797979;
}

.welcome-page__img img{
  width: 90px;
  height: 90px;
  border-radius: 50%;

}


.dash-categories{
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.dash-category{
  background-color: var(--background-color);
  padding: 5px 10px;
  flex: 1 1 70px;
  text-align: center;
  border: 2px solid #1CBDDE;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.641);
}

.category-title{
  font-weight: 500;
  color: var(--secondary-color);
}


.user-info{
  padding-top: 100px;
}




.user-info__container{
  display:flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

}

label{
  width: 100%;
  /* display: inline-block; */
}

input{
  margin-bottom: 10px;
  height: 30px;
  width: 100%;
  outline: none;
  border: 0.5px solid rgba(43, 42, 42, 0.368);
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 14px;
  
}

.save{
  padding: 5px 10px;
  background-color: #1CBDDE;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
}
.personal-info{
  background-color: var(--background-color);
  /* flex: 1 1 100px; */
  padding: 50px;
  border-radius: 30px;
  max-width: 500px;   
  width: 100%;     
  flex: 0 1 auto;    
  box-shadow: 0px 5px 15px 1px rgba(136, 136, 136, 0.334);
}


.personal-info__form, .user-body__form{ 
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
}



.quick-stats{
  background-color: var(--background-color);
  /* flex: 1 1 100px; */
  padding: 50px;
  border-radius: 20px;
  max-width: 500px;
  width: 100%;         
  flex: 0 1 auto;  
  box-shadow: 0px 5px 15px 1px rgba(136, 136, 136, 0.334);     
}

.health-info{
  display: flex;
  margin-top: 20px;
  text-align: center;
}



.health-info__icon i{
  font-size: 22px;
  align-items: center;
  margin-right: 6px;
}
.desc-title{
  color: #797979;
}


.user-body__container{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

}

.user-body__measurement, .user-body__analysis{
  background-color: var(--background-color);
  /* flex: 1 1 100px; */
  padding: 50px;
  border-radius: 20px;
  max-width: 500px;
  width: 100%;         
  flex: 0 1 auto;
  box-shadow: 0px 5px 15px 1px rgba(136, 136, 136, 0.334);
}

/* .user-body__analysis{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.user-body__status{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C7F1F9;
  max-width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
}

.user-body__status{}
.body-size{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}







.symptom-history__container{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.symptom-tracking, .signs-history{
  padding: 30px 40px 80px 40px;
  background-color: var(--background-color);
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 1px rgba(136, 136, 136, 0.334);
}

.symptom-tracking p{
  margin-top: 20px;
}

.symptom-input{
  padding: 10px 20px;
  height: 40px;
  background-color: #EFEEEE;
  border: none;
}
.add-symptom{
  margin-top: 20px;
  display: flex;
  gap: 10px;
  /* align-items: center; */
}

.add-button{
  border: none;
  background-color: #152B55;
  cursor: pointer;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.signs-history table{
  margin-top: 20px;
  width: 100%;
  /* min-width: 50px; */
  border-collapse: collapse;
  /* text-align: center; */
}

.signs-history thead{
  text-align: left;
}

thead th{
  padding: 8px;
}

tbody td{
  padding: 8px;
}

td, th{
  border-bottom: 1px solid rgba(60, 60, 60, 0.319);
}


.my-appointments, .my-appointments__desc{
  padding: 30px 40px 80px 40px;
  background-color: var(--background-color);
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 1px rgba(136, 136, 136, 0.334);

}

.my-appointments__list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.my-appointments h2, .my-appointments__desc h2{
  margin-bottom: 50px;
}
.my-appointment{
  border: 2px solid #1CBDDE;
  border-radius: 8px;
  padding: 15px 30px;
}

.top-appointment{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.appointment-badge{
  min-width: 100px;
  padding: 5px 25px;
  background-color: #152B55;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 12px;
}

.appointment-doctor,.doctor-type,.appointment-date{
  font-weight: 500;
  color: #797979;
}

.appointment-doctor{
  font-size: 18px;

}

.doctor-type{
  font-size: 14px;
  margin-bottom: 10px;
}

.appointment-date{
  font-size: 14px;
}



.new-appointment{
  width: 100%;
  background-color: #1CBDDE;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
}



.body-appointment{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.body-appointment__part{
  flex: 1 1 45%;
}

.body-appointment__part h3{ 
  font-weight: 600;
  font-size: 16px;
}

.body-appointment__part p{
  color: #767676;
}






.lab-results{
  padding: 30px 40px 80px 40px;
  background-color: var(--background-color);
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 1px rgba(136, 136, 136, 0.334);
}

.lab-result{
  border: 2px solid #1CBDDE;
  border-radius: 8px;
  padding: 15px 30px;
}

.lab-results > h2{
  margin-bottom: 20px;
}
.lab-result__top{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lab-result h4{
  margin-bottom: 15px;
  font-size: 18px;
}

.lab-name{
  font-weight: 500;
  font-size: 18px;
}
.results__part{
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.results__part h3{ 
  font-weight: 600;
  font-size: 16px;
}


.results__part p{
  color: #767676;
  font-size: 14px;
}












/* QUICK Responsive design */
@media screen and (max-width:900px){
  .dash-category{
    flex: 1 1 30%;
  }
}
@media screen and (max-width:700px) {
  .dash-category{
    flex: 1 1 30%;
  }
  

  
}
@media screen and (max-width:570px){
  .signs-history__table{
    display: none;
  }

  .save{
    margin-top: 10px;
    width: 100%;
  }
}


@media screen and (max-width:390px) {
  .dash-category{
    flex: 1 1 100%;
  }
  
}