#doctors_section{
    /* width: 80%;
    margin: 10rem auto; */
    background: rgb(249,250,252);
    backdrop-filter: blur(10px);
}
.doctors_container{
    width: 80%;
    margin: 10rem auto;
    padding-top: 2.5rem;
}
.main_info{
    text-align: center;
    color: gray;

}

.main_info h1{
    color: #152B55;
    font-size: 2.3rem;
    letter-spacing: 1.2px;
    
    margin-bottom: 3rem;
}
.doctors_list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 2rem;
    margin-top:2rem ;

} 
.doctors_list .title{
    color: black;
}
.list_items{
    width: 250px;
    height: 520px;
    border: 0.5px solid lightgray;
    border-radius: 20px;
    transition: 0.3s ease;
}
.list_items:hover{
    cursor: pointer;
    box-shadow: 0 3px 4px 1.3px rgb(230, 227, 227);
}
.list_items .img{
    height: 230px;
    width: 100%;
    
    
}
.list_items .img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    transition: 1s ease;
}
.list_items .img:hover img{
    transform: scale(1.012);
    overflow: hidden;
}

.list_items .card_des{
    padding:1rem ;
    color: gray;
} 

.card_des .field{
    color:#1CBDDE  ;
}
.card_des .rank{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.rank span{
    color: black;
}

.card_des .rank i{
    color: gray;
}
.rank .icon .star{
    color: gold;
}
.card_des .button{
    width: 80%;
    margin: 16px auto;
}

.button .btn{
    width: 100%;
    border: none;
    padding: 9px;
    border-radius: 10px;
    background-color: #1CBDDE ;
    color: white;
    transition: 0.3s ease;
}
.btn:hover{
    box-shadow: 0 0 20px #1CBDDE;
}


