#doctors_section{
    width: 100%;
    margin: 10rem auto; 
    background: rgb(249,250,252);
    backdrop-filter: blur(10px);
}
.doctors_container{
    width: 80%;
    margin: 10rem auto;
    padding-top: 2.5rem;
}
.main_info{
    text-align: center;
    color: gray;

}

.main_info h1{
    color: #152B55;
    font-size: 2.3rem;
    letter-spacing: 1.2px;
    
    margin-bottom: 3rem;
}
.doctors_list {
    display: grid;
    align-items: center;
    gap: 2.5rem;
    padding: 2rem;
    margin-top:2rem ;
    grid-template-columns: repeat(4,250px);

} 
.doctors_list .title{
    color: black;
}
.list_items{
    /* width: 15.625rem;
    height: 32.5rem; */
    border: 0.5px solid lightgray;
    border-radius: 20px;
    transition: 0.3s ease;
}
.list_items:hover{
    cursor: pointer;
    box-shadow: 0 3px 4px 1.3px rgb(230, 227, 227);
}
.list_items .img{
    height: 14.375rem;
    width: 100%;
    
    
}
.list_items .img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 1s ease;
}
.list_items .img:hover img{
    transform: scale(1.012);
    overflow: hidden;
}

.list_items .card_des{
    padding:1rem ;
    color: gray;
} 

.card_des .field{
    color:#1CBDDE  ;
}
.card_des .rank{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-top: 0.625rem;
}
.rank span{
    color: black;
}

.card_des .rank i{
    color: gray;
}
.rank .icon .star{
    color: gold;
}
.card_des .button{
    width: 80%;
    margin: 1rem auto;
}

.button .btn{
    width: 100%;
    border: none;
    padding: 0.5625rem;
    border-radius: 0.625rem;
    background-color: #1CBDDE ;
    color: white;
    transition: 0.3s ease;
}
.btn:hover{
    box-shadow: 0 0 1.25rem #1CBDDE;
}
a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:1380px){
    .list_items{
        height: 530px;
    }
}
@media screen and (max-width:1200px){
 .doctors_list{
    grid-template-columns: repeat(2,390px);
 }
}

@media screen and (max-width:992px){
    .doctors_list{
       grid-template-columns: repeat(2,350px);
    }
}
@media screen and (max-width:890px){
    .doctors_list{
       grid-template-columns: repeat(2,300px);
    }
}
@media screen and (max-width:768px){
    .doctors_list{
       grid-template-columns: repeat(2,250px);
    }
}
@media screen and (max-width:674px){
    .doctors_list{
       grid-template-columns: repeat(1,400px);
    }
}

@media screen and (max-width:450px){
    #doctors_section{
        width: 100%;
    }
    .doctors_container{
        width: 100%;
    }
    .doctors_list{
       grid-template-columns: repeat(1,300px);
    }
}

