.main-footer{
  background-color: #152B55;
  padding: 50px 40px;
  /* width: 100%; */
}
.footer-main{
  display: flex;
  flex-wrap: wrap;  
  color: #FFFFFF;
}

.footer-title{
  font-size: 20px;
  font-weight:500;
  letter-spacing: 1.5px;
}


.main-footer__social{
  flex: 1;
}

.social-icons i{
  font-size: 22px;
  color: #808080;
  margin-top: 20px;
}

.main-footer__logo{
  font-size: 24px;
  font-weight: 600;
}

.main-footer__logo span{
  font-style: italic;
  font-size: 22px;
}

.main-footer__description{
  margin: 12px 0px;
  color: #808080;

}
.main-footer__links{
  display: flex;
  justify-content: space-evenly;
  flex: 2;
}



.main-footer__links > div li{
  list-style: none;
  margin: 10px 0px;
  
}

.main-footer__links > div li a{
  color: #808080;
}

.main-footer__contact{
  flex: 1 ;
}

.contact-items{
  color: #808080;
  margin-top: 10px;
}

.contact-item{
  margin: 10px 0px;
}

.contact-item i{
  font-size: 18px;
  margin-right: 10px;
}



.secondary-footer{
  display: flex;
  justify-content: space-between;
  color: #808080;

}


.privacy-policy{
  display: flex;
}

.recerved p, .privacy-policy p a{
  font-size: 12px;
  color: #808080;
}

.privacy-policy p{
  margin-left: 10px;
}



@media screen and (max-width:900px){
  /* .footer-main{
    flex-wrap: wrap;
  } */
}