#header{
    /* width: 1440px ; */
    max-width: 100% !important;

    position: relative;
    
}
.header_container{
    position: fixed;
    left: 0;
    width: 100%;
    height: 3.5rem;
    padding: 1rem;
    background-color:#f7fafb;
    filter: blur(0.12px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem whitesmoke;
}
.header_container .logo{
    margin-left: 1.25rem;
}
.header_container .logo a{
 font-size: 2rem;
 color: #152B55;
 font-weight: 700;
 letter-spacing: 0.2rem;
 
}
.header_container .logo span{
    color:#1CBDDE  ;
    font-style: italic;
    font-weight: 800;
    font-size: 2rem;
    
}
.header_container .header_nav .nav{
    display: flex;
    align-items: center;
    gap: 2.8rem;
    position: relative;
}
.header_container .header_nav .nav a{
    font-weight: 500;
    color: #152B55;

    text-shadow: 0px 1px 1px whitesmoke;

}

.header_container .header_nav .nav .nav_items::before{
position: absolute;
content: "";
bottom: -0.5rem;
width: 0;
height: 0.25rem;
border-radius: 0.25rem;

background-color: #1CBDDE  ;
transition: 0.1s;
}
.header_nav .nav .nav_items:hover{
    cursor: pointer;
   

}
.header_nav .nav .nav_items:hover::before {
    animation: showLine 0.3s linear forwards;
}

@keyframes showLine {
    to{
        width: 2.8rem;
    }
}

.header_account{
    display: flex;
    gap: -40px;
    align-items: center;
    cursor: pointer;
}

.header_account .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -4rem;
    width: 2.5rem;
    height:2.5rem;
    border: .5px solid #152B55 ;
    border-radius: 16px;
}
.icon i{
    font-size: 1.6rem;
    color:#152B55 ;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    
   
    display: none;
} 
.menu i{
    font-size: 2rem; 
    font-weight: bold;
}

@media screen and (max-width:1440px) {
    .header_account{
        display: block;
    }
    
}
@media screen and (max-width:768px){
    .menu{
        display: block!important;

    } 
    .header_nav{
        display: none;

    }
    .header_account{
        display: none;
    }
}





