@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}
:root {
  /* Основные цвета */
  --primary-color: #1CBDDE;
  --secondary-color: #152B55;
  --text-color: #152B55;
  --background-color: #ffffff;
    --bg-hover-color: #00426B;
  /* Дополнительные акценты */
  --accent-color: #1CBDDE;
  --hover-color: #128ea8;
  --shadow-color: rgba(0, 0, 0, 0.2);

  /* Светлые/тёмные варианты */
  --light-bg: #f9f9f9;
  --dark-bg: #0f1e3a;
  --border-color: #e0e0e0;
  
}
