.services-section {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.services-title {
  font-size: 42px;
  font-weight: 800;
  color: var(--secondary-color);
  margin-bottom: 50px;
  text-align: left;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 25px;
}

.service-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 18px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.service-card:hover {
  background-color: var(--primary-color);
}

.service-card:active {
  transform: translateY(0);
  filter: brightness(0.95);
}

/* ====== Иконка ====== */
.card-logo {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  background-color:#dae7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.card-logo i {
  font-size: 26px;
  color: var(--secondary-color);
  transition: all 0.3s ease;
}

/* Hover эффект */
.service-card:hover .card-logo {
  background-color: var(--background-color);
}

.service-card:hover .card-logo i {
  color: var(--secondary-color);
}

/* ====== Текст ====== */
.service-card__name {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-color);
  letter-spacing: 0.3px;
  transition: color 0.3s ease;
}

.service-card:hover .service-card__name {
  color: var(--background-color);
}

.service-card__desc {
  display: none;
}

/* ====== Адаптив ====== */
@media screen and (max-width: 1024px) {
  .service-cards {
    grid-template-columns: 1fr 1fr;
    gap: 16px 20px;
  }
}

@media screen and (max-width: 700px) {
  .service-cards {
    grid-template-columns: 1fr;
  }

  .service-card {
    padding: 16px 20px;
  }

  .card-logo {
    width: 50px;
    height: 50px;
  }

  .card-logo i {
    font-size: 22px;
  }

  .service-card__name {
    font-size: 18px;
  }
}
