

.services-section{
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('./image/service-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.services-section h1{
  font-size: 40px;
  margin: 25px 0;
}

.services-title{
  font-size: 36px;
  color:#034103;;
}

.service-cards{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0;
  padding: 0 60px;
  text-align: center;
  
}
.service-card{
  min-height: 230px;
  width: 320px;
  flex: 1 1 30%;   /* Desktop: 3 card */
  margin-right:30px;
  margin-top: 30px;
  padding: 20px 30px;
  box-shadow: 0px 1px 18px 1px rgba(0,10, 10, 0.1);
  border-radius: 10px;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
}
.service-card:hover{
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(255, 218, 106, 0.8);
}

.card-logo i{
  color: rgb(125,11,11); /* main green */
  font-size: 2rem;
}
.card-logo:hover i{
  color: #2E7D32; /* lighter green on hover */
}
.service-card__name{
  font-size: 20px;
  font-weight: 600;
  /* text-transform: uppercase; */
  
  
}

.service-card__desc{
  font-size: 15px;
  color: #797979;
  font-weight: 250;
  margin-top: 10px;
}

.learn-more{
  padding: 5px 10px;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  background-color: rgba(37, 118, 176, 0.54);
  color: #FFFFFF;
  border-radius: 8px;
  transition: background-color 0.5s, padding 0.8s;
}
.learn-more i{
  display: none;
  transition: all 0.5s;
}

.learn-more:hover i{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.learn-more:hover{
  background-color: rgb(37, 118, 176);
  padding: 10px 20px;
}


@media screen and (max-width: 1020px) {
  .service-cards{
    flex-direction: row;
    padding: 0 40px;
  }
  .service-card{
    flex: 1 1 45%;
  }
  
}

@media screen and (max-width:700px) {
  .service-cards{
    flex-direction: column;
    padding: 0 20px;
  }
  .service-card{
    /* flex: 1 1 100%; */
    width: 100%;
  }
}